.cardList {
  display: grid;
  gap: 12px;
  color: var(--snow-colors-neutral-1000);

  svg {
    width: 24px;
  }

  a {
    color: var(--snow-colors-neutral-1000);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
